@import url('./__svg/main-button__svg.css');
@import url('./__rect/main-button__rect.css');
@import url('./__span/main-button__span.css');

.main-button {
  width: 200px;
  height: 50px;
  z-index: 2;
  font-size: 19px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  position: relative;
  background-color: transparent;
  transition: .5s;
}

.main-button:focus {
  outline: none;
}