@import url('./__svg/main-button__svg.css');
@import url('./__rect/main-button__rect.css');
@import url('./__span/main-button__span.css');

.main-button {
  width: 200px;
  height: 50px;
  padding: 0 0 5px;
  font-size: 30px;
  font-weight: 400;
  z-index: 2;
  border: none;
  cursor: pointer;
  color: #ffffff;
  position: relative;
  background-color: transparent;
  transition: .5s;
  /* font-family: 'Courier New', Courier, monospace; */
}

.main-button:focus {
  outline: none;
}