@import url('./__svg/main-button__svg.css');
@import url('./__rect/main-button__rect.css');
@import url('./__span/main-button__span.css');

.main-button {
  width: 250px;
  height: 65px;
  top: calc(50% - 32.5px);
  left: 50px;
  z-index: 2;
  position: absolute;
  font-size: 22px;
  border: none;
  cursor: pointer;
  color: white;
  position: relative;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  transition: .5s;
}

.main-button:focus {
  outline: none;
}