.menu__options {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 0 0 50px;
  margin: 0 -55px;
  position: absolute;
  list-style: none;
  box-sizing: border-box;
  border-top: 2px solid whitesmoke;
  transform: translateX(-150%);
  transition: 1s;
}