@import url('./_is-opened/menu__options_is-opened.css');

.menu__options {
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0 -55px;
  display: flex;
  position: absolute;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 2px solid whitesmoke;
  transform: translateX(-150%);
  transition: 1s .3s;
}