@import url('./__top/stand__top.css');
@import url('./__bottom/stand__bottom.css');
@import url('./__content/stand__content.css');
@import url('./__title/stand__title.css');
@import url('./__description/stand__description.css');
@import url('./__image/stand__image.css');
@import url('./__info/stand__info.css');

.stand {
  width: 60%;
  height: 100%;
  position: relative;
}