@import url('./__title/cover__title.css');
@import url('./__video/cover__video.css');
@import url('./__printer/cover__printer.css');
@import url('./__pointer/cover__pointer.css');
@import url('./__overlay/cover__overlay.css');

.cover {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 7, 0);
}