@import url('./_modificators/dropdown_is-opened.css');

.dropdown {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  transform: translateY(-100%);
  transition: 1s cubic-bezier(1,.01,.4,.5);
}
