.dropdown {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  transform: translateY(-100%);
  transition: .5s ease-in-out;
}
